@import "../../variables.scss";

.contact {
  .contact-card {
    background-color: $colour2;
    border: 1px solid $colour3;
    margin: 21px auto;
    min-height: 350px;
    position: relative;
    box-shadow: 3px 3px 2px $colour1;
    width: 600px;
    .contact-card-info {
      padding: 9px 2%;
    }
    .contact-card-photo {
      position: absolute;
      right: 6px;
      top: 6px;
      width: 90px;
    }
    .contact-card-logo {
      bottom: 0;
      position: absolute;
      right: 0;
      width: 280px;
    }
  }
}

.landing {
  display: flex;
  .landing-logo {
    margin: 6vh auto 0 auto;
    width: 60vw;
  }
}

.work {
  .work-nav {
    .work-nav-description {
      color: $colour4;
      font-size: 10px;
      font-style: italic;
    }
    .work-nav-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin-top: 6px;
      .work-nav-item {
        border-bottom: 2px solid rgba(0, 0, 0, 0);
        cursor: pointer;
        text-align: center;

        transition: 0.3s border-color ease-in-out;
      }
      .work-nav-item-selected {
        border-bottom: 2px solid $colour3;
      }
    }
  }
  .work-card-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 6px 0;
  }
}
