@import "../../variables.scss";

.card1 {
  cursor: pointer;
  height: 180px;
  margin: 3px auto;
  min-height: 180px;
  overflow: hidden;
  position: relative;
  padding: 18px 1%;
  width: 240px;
  .card1-hover-veneer {
    background-color: rgba($color: $colour1, $alpha: 0);
    height: 180px;
    left: 0;
    position: absolute;
    top: 0;
    width: 240px;
    z-index: -99;

    transition: 0.3s background-color ease-in-out;
  }
  .card1-image {
    height: 180px;
    left: 0;
    position: absolute;
    top: 0;
    width: 240px;
    z-index: -100;

    transition: 2.1s height ease-in-out, 2.1s width ease-in-out,
      2.1s left ease-in-out, 2.1s top ease-in-out;
  }
  .card1-title {
    font-weight: 100;
  }
  .card1-title-dark {
    left: 4px;
    position: absolute;

    text-shadow: -0.5px -0.5px 0 $colour2, 0.5px -0.5px 0 $colour2,
      -0.5px 0.5px 0 $colour2, 0.5px 0.5px 0 $colour2;
    top: 0;
  }
  .card1-hover-box {
    z-index: 100;
    * {
      color: $colour2;
      opacity: 0;

      transition: 0.9s opacity ease-in-out;
    }
    .card1-links {
      display: flex;
      justify-content: space-around;
      padding: 7px 0;
      .card1-link {
        font-size: 12px;

        transition: 0.3s color ease-in-out;
        i {
          transition: 0.3s color ease-in-out;
        }
      }
      .card1-link:hover {
        color: $colour4;
        i {
          color: $colour3;
        }
      }
    }
    .card1-description {
      font-size: 11px;
      padding: 0 2%;
      text-align: justify;
    }
  }
  .card1-title-light {
    bottom: 0;
    color: $colour2;
    position: absolute;
    right: 4px;
    text-shadow: -0.5px -0.5px 0 $colour1, 0.5px -0.5px 0 $colour1,
      -0.5px 0.5px 0 $colour1, 0.5px 0.5px 0 $colour1;
  }
}
.card1:hover {
  .card1-hover-veneer {
    background-color: rgba($color: $colour1, $alpha: 0.42);
  }
  .card1-image {
    height: 200px;
    left: -10px;
    top: -10px;
    width: 260px;
  }
  .card1-hover-box {
    * {
      opacity: 1;
    }
  }
}

.card2 {
  display: grid;
  grid-template-columns: 28px 80px auto;
  .card2-info-logo {
    color: $colour4;
    font-size: 21px;
    margin: 0 auto;
    text-align: center;
  }
  .card2-info-key {
    color: $colour3;
    display: flex;
    padding-right: 6px;

    justify-content: flex-end;
  }
  .card2-info-data {
    padding-left: 6px;
  }
}

.card3 {
  background-color: $colour2;
  border: 1px solid $colour4;
  border-radius: 0 0 14px 14px;
  box-shadow: 2px 2px 2px $colour1;
  cursor: pointer;
  margin: 0 auto;
  padding: 6px 2%;
  width: 120px;
  .skill-logo {
    height: 42px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 42px;
  }
  .skill-name {
    display: inline-block;
    margin-left: 50%;
    font-size: 14px;
    transform: translateX(-50%);
  }
}

.input {
  margin: 3px 0 6px 0;
  text-align: center;
}
.input2 {
  height: 300px;
  padding: 3px 1%;
  text-align: left;
}

.post1 {
  margin: 3px 0;
  .post1-header {
    border-bottom: 2px solid $colour3;
    padding: 6px 2%;
    .close-icon {
      cursor: pointer;
      float: right;
      margin-top: -21px;
    }
  }
  .post1-body {
    background-color: $colour2;
    padding: 12px 4%;
    .post1-body-text {
      font-size: 12px;
      max-height: 70px;
      overflow: hidden;
      text-align: justify;

      transition: 1.2s max-height ease-in-out;
    }
    .post1-body-text-open {
      max-height: 700px;
    }
    .post1-body-toggle {
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
      padding-top: 6px;
      .post1-body-toggle-text {
        color: $colour3;
      }
      i {
        color: $colour4;
        padding-left: 6px;
      }
    }
  }
}

.route {
  padding: 0 5%;
  .route-title {
    font-size: 35px;
    text-transform: capitalize;
  }
  .route-body {
    * {
      text-align: left;
    }
  }
}
